#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 40px 0;
    background-color: #AEB6BF;
}

h1 {
    color: #0D6EFD;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
    margin-right: 20px;
}

.item-name {
    margin-bottom: 5px;
}

.item-price,
.item-quantity,
.item-total {
    margin-top: 5px;
}

.total-section {
    background-color: #0D6EFD;
    color: white;
    padding: 10px;
    text-align: right;
}

.btn-pasar-pagar {
    background-color: #0D6EFD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    .btn-pasar-pagar:hover {
        background-color: #5f9ea0;
    }

.custom-margin {
    margin-left: 20px;
}

