
.principal {
    padding-top: 30px;
}

.carousel-inner {
    background-color: #0D6EFD;
    background-image: linear-gradient( to bottom right, #8dbafc, #0D6EFD );
    height: 450px;
}
/*
.carousel-item img {
    height: 400px;  
    overflow: hidden;
}*/

.col-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.btn{
    margin-top:10px;
}  


input[type="number"] {
    background-color: white;
    border: 1px solid #0D6EFD;
    border-radius: 10px;
    width: 50px;
    text-align:center;
}

