body {
   /* background-image: linear-gradient( to bottom right, #F0F6FC, #84C6FE );*/
    background-color: #F0F6FC;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15; /*las cards tienen 10 y tiene que estar por encima para que no se tape*/
}

.nav-link {
    color: white;
}

.placeholder {   
    padding-top:50px;   
}



