html{
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background-color: #F0F6FC;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15; /*las cards tienen 10 y tiene que estar por encima para que no se tape*/
}

.nav-link {
    color: white;
}

.content-placeholder {
    padding-top: 50px;
    padding-bottom: 80px;
}

footer{   
    width:100%;
}

.white-icon {
    color: white;
}

footer{
    position:absolute;
    bottom:0;
}

